<div class="row search-header">
  <div class="col-sm-1">
    <img style="height:38px" src="assets/images/icons/cloud.svg" alt="logo" />
  </div>

  <div class=" col-sm-3 ">
    <div class="input-group">
      <input
        type="text"
        class=" form-control"
        placeholder="Search"
        [formControl]="searchControl"
      />
    </div>
  </div>
  <div class="   col-sm-4 ">
    <app-search-drop-down
      [title]="'Filter by'"
      [dropItems]="mediaTypes"
      (selected)="onOptionSelected($event, 'filter')"
    ></app-search-drop-down>
  </div>

  <div class=" col-sm-4   text-right">
    <!-- Can be done better -->
    <button
      *ngIf="(sortType$ | async) === 'dsc'"
      class="btn btn-primary mr-2  "
      (click)="changeSort('asc')"
    >
      <img class="sort-by-image " src="assets/images/asc.png" alt="sorting" />
    </button>
    <button
      *ngIf="(sortType$ | async) === 'asc'"
      class="btn btn-primary mr-2  "
      (click)="changeSort('dsc')"
    >
      <img class="sort-by-image " src="assets/images/dsc.png" alt="sorting" />
    </button>
    <button (click)="clearFilter()" class="btn btn-danger">Clear all</button>
  </div>
</div>

<div class="container">
  <div class="d-flex flex-wrap" *ngIf="data$ | async as mediaItems">
    <ng-container *ngIf="mediaItems.length !== 0; else noItems">
      <app-result-item
        *ngFor="let item of mediaItems"
        [mediaItem]="item"
      ></app-result-item>
    </ng-container>

    <ng-template #noItems>
      <div class="d-flex flex-column align-items-center w-100 mt-3">
        <!--         <img style="width:600px" src="assets/images/notfound.png" alt=":)" />
        <p class="text-center">Thanks for checking my work in detail! :)</p> -->
        <p class="text-center">No items found!</p>
      </div>
    </ng-template>
  </div>
</div>
